<!DOCTYPE html>
<html lang="pt">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Casamento da Ana e do Lino" />
    <meta name="author" content="Lino Silva, Ana Silva" />

    <title>{{title}}</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:100|PT+Serif:400,400i" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link href="vendors/open-iconic/font/css/open-iconic-bootstrap.css" rel="stylesheet" />
    <link href="vendors/swiper/dist/css/swiper.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendors/jquery.easing/js/jquery.easing.min.js"></script>

    <script src="vendors/swiper/dist/js/swiper.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/main.js"></script>
</head>

<body>
    {{{body}}}

    <!-- Bootstrap core JavaScript -->
</body>

</html>