<!-- Header -->
<header class="container-fluid text-center">
    <div class="row">
        <h1 class="col-12">{{header.title}}</h1>
        <h4 class="col-12">{{header.subtitle}}</h3>
        <h3 class="col-12">{{header.names}}</h3>
    </div>

    <form>
        <div class="form-group">
            <label for="firstname">Nome</label>
            <input type="text" class="form-control" id="firstname" placeholder="Nome" />
        </div>
    </form>
</header>

